<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Formulario vehiculo cliente</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

<body>

<div th:insert="~{fragments/header :: cabecera}"></div>
<div class="container">
    <div class="row mt-5 text-center">
        <div class="h1 ">
            Formulario de Vehiculo
        </div>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>
    <form class="row g-4 mt-5" th:object="${vehiculo}" th:action="@{/vehiculos/nuevoVehiculo}" method="post">
    <div class="col-3">
            <label class="form-label">DNI:
                <input type="text" th:field="*{dni}" class="form-control" placeholder="Escribe el dni" required/>
            </label>
            <div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="text-danger"></div>
        </div>

        <div class="col-3">
            <label>Apellidos:
                <input type="text" th:field="*{matricula}" class="form-control" placeholder="Escribe la matricula" required/>
            </label>
            <div th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}" class="text-danger"></div>
        </div>

        <div class="col-3">
            <label>Marca:
                <input type="text" th:field="*{marca}" class="form-control" placeholder="Escribe la marca" required/>
            </label>
            <div th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}" class="text-danger"></div>
        </div>

        <div class="col-3">
            <label>Modelo:
                <input type="text" th:field="*{modelo}" class="form-control" placeholder="Escribe el modelo" required/>
            </label>
            <div th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}" class="text-danger"></div>
        </div>

        <div class="col-3">
            <label>Año:
                <input type="text" th:field="*{anio}" class="form-control" placeholder="Escribe el año" required/>
            </label>
            <div th:if="${#fields.hasErrors('anio')}" th:errors="*{anio}" class="text-danger"></div>
        </div>

        <button class="btn btn-primary" type="submit">Guardar</button>

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
</body>
</html>